html {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
}

h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}

button{
  border: 1px solid #323232;
  padding: 5px 10px;
  border-radius: 7px;
  box-shadow: 1px 1px 2px gray;
  transition: all 200ms;

  &:hover{
    box-shadow: none;
    background: #b3f1e5;
  }
}
